body {
    font-family: sans-serif;
    background-color: #FBAB7E;
    background-image: linear-gradient(0deg, #FBAB7E 0%, #F7CE68 100%);
    background-repeat:no-repeat;
    color: #24140a;
}

img {
   max-width: 25%;
   display: block;
   margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {

    text-align: center;
}

p {
    text-align: center;
    padding: 0px 20px;
    max-width: 30%;
    margin: 0 auto;
}

.links {
    display: block;
    margin: 20px auto;
    text-align: center;
}

a.to-pages {
    padding: 10px;
    border: #24140a;
    background-color: #24140a;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
    border-radius: 3px;
    margin: 15px auto;
    min-width: fit-content;
    width: 90px;
    max-width: 100px;
    text-decoration: none;
    color: #FBAB7E;
}


a.to-pages:hover {
    background-color: transparent;
    color: #24140a !important;
}